@font-face {
    font-family: Vazir;
    src: url('../fonts/Vazir.eot');
    src: url('../fonts/Vazir.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Vazir.woff2') format('woff2'),
    url('../fonts/Vazir.woff') format('woff'),
    url('../fonts/Vazir.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Vazir;
    src: url('../fonts/Vazir-Bold.eot');
    src: url('../fonts/Vazir-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Vazir-Bold.woff2') format('woff2'),
    url('../fonts/Vazir-Bold.woff') format('woff'),
    url('../fonts/Vazir-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: Vazir;
    src: url('../fonts/Vazir-Black.eot');
    src: url('../fonts/Vazir-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Vazir-Black.woff2') format('woff2'),
    url('../fonts/Vazir-Black.woff') format('woff'),
    url('../fonts/Vazir-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: Vazir;
    src: url('../fonts/Vazir-Medium.eot');
    src: url('../fonts/Vazir-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Vazir-Medium.woff2') format('woff2'),
    url('../fonts/Vazir-Medium.woff') format('woff'),
    url('../fonts/Vazir-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: Vazir;
    src: url('../fonts/Vazir-Light.eot');
    src: url('../fonts/Vazir-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Vazir-Light.woff2') format('woff2'),
    url('../fonts/Vazir-Light.woff') format('woff'),
    url('../fonts/Vazir-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: Vazir;
    src: url('../fonts/Vazir-Thin.eot');
    src: url('../fonts/Vazir-Thin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Vazir-Thin.woff2') format('woff2'),
    url('../fonts/Vazir-Thin.woff') format('woff'),
    url('../fonts/Vazir-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.video-container iframe, .video-container object, .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.image:hover {
    cursor: pointer;
    opacity: 1;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.image:hover {
    opacity: .75;
}

.small {
    font-size: 11px;
    color: #999;
    display: block;
    margin-top: -10px
}

.cont {
    text-align: center;
}

.page-head {
    padding: 60px 0;
    text-align: center;
}

.page-head .lead {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.4;
    margin-bottom: 50px;
    margin-top: 0;
}

.page-head h1 {
    font-size: 42px;
    margin: 0 0 20px;
    color: #FFF;
    position: relative;
    display: inline-block;
}

.page-head h1 .version {
    bottom: 0;
    color: #ddd;
    font-size: 11px;
    font-style: italic;
    position: absolute;
    width: 58px;
    right: -58px;
}

.gallery > ul {
    margin-bottom: 0;
}

.gallery > ul > li {
    margin-bottom: 8px;
    width: 190px;
    display: inline-block;
    margin-right: 8px;
    list-style: outside none none;
}

.gallery > ul > li a {
    /*border: 2px solid #FFF;*/
    /*border-radius: 8px;*/
    display: block;
    overflow: hidden;
    position: relative;
    float: left;
}

.gallery > ul > li a > img {
    -webkit-transition: -webkit-transform 0.15s ease 0s;
    -moz-transition: -moz-transform 0.15s ease 0s;
    -o-transition: -o-transform 0.15s ease 0s;
    transition: transform 0.15s ease 0s;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    height: 100%;
    width: 100%;
}

.gallery > ul > li a:hover .gallery-poster > img {
    opacity: 1;
    border-radius: 6px;
}

.gallery > ul > li a .gallery-poster {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition: background-color 0.15s ease 0s;
    -o-transition: background-color 0.15s ease 0s;
    transition: background-color 0.15s ease 0s;
    border-radius: 6px;
}

.gallery > ul > li a .gallery-poster > img {
    left: 50%;
    margin-left: -10px;
    margin-top: -10px;
    opacity: 0;
    position: absolute;
    top: 50%;
    -webkit-transition: opacity 0.3s ease 0s;
    -o-transition: opacity 0.3s ease 0s;
    transition: opacity 0.3s ease 0s;
    border-radius: 6px;
}

.gallery > ul > li a:hover .gallery-poster {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 6px;
}

.gallery .justified-gallery > a > img {
    -webkit-transition: -webkit-transform 0.15s ease 0s;
    -moz-transition: -moz-transform 0.15s ease 0s;
    -o-transition: -o-transform 0.15s ease 0s;
    transition: transform 0.15s ease 0s;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    height: 100%;
    width: 100%;
    border-radius: 6px;
}

.gallery .justified-gallery > a:hover .gallery-poster > img {
    opacity: 1;
    border-radius: 6px;
}

.gallery .justified-gallery > a .gallery-poster {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition: background-color 0.15s ease 0s;
    -o-transition: background-color 0.15s ease 0s;
    transition: background-color 0.15s ease 0s;
}

.gallery .justified-gallery > a .gallery-poster > img {
    left: 50%;
    margin-left: -10px;
    margin-top: -10px;
    opacity: 0;
    position: absolute;
    top: 50%;
    -webkit-transition: opacity 0.3s ease 0s;
    -o-transition: opacity 0.3s ease 0s;
    transition: opacity 0.3s ease 0s;
    border-radius: 6px;
}

.gallery .justified-gallery > a:hover .gallery-poster {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 6px;
}

.gallery .video .gallery-poster img {
    height: 48px;
    margin-left: -24px;
    margin-top: -24px;
    opacity: 0.8;
    width: 48px;
}

.gallery.dark > ul > li a {
    border: 3px solid #04070a;
}

.gallery > ul {
    display: flex;
    justify-content: center;
    margin: 0;
}

.gallery > ul > li {
    display: flex;
    margin: 5px;
}

.persian {
    font-family: 'Vazir', sans-serif;
    direction: rtl;
    letter-spacing: 0px;
    justify-content: right;
    text-align: right;
}

.highlight {
    direction: ltr;
}

li > code {
    word-break: break-all;
    max-width: 100%;
}

.breaker {
    word-break: break-all;
}

.post-content {
    text-align: justify;
}

img.circle {
    border-radius: 50%;
    max-width: 32%;
    margin: auto;
    padding-top: 10px;
}

.post-info > * {
    display: flex;
    flex-wrap: wrap;
}

.post-info > p {
    margin: 0.8em 0.4em 0.8em 0
}

.post-info > p > span {
    margin: 0 0 0.3em 0
}